---
import { Picture } from "@astrojs/image/components";
---

<article id="about" class="p-6 mb-4 bg-base-300 rounded-xl shadow-md">
  <div class="flex space-x-4">
    <div class="avatar">
      <div class="w-20 rounded-full">
        <Picture
          src="http://github.com/xsfunc.png"
          alt="xsfunc avatar"
          sizes="460px"
          widths={[460]}
          aspectRatio="1:1"
          formats={["avif", "webp", "png"]}
        />
      </div>
    </div>

    <div>
      <h1>Hello, <strong>@xsfunc</strong> here.</h1>
      <p>I'm frontend programmer, Tezos tool maker and NFT creator.</p>
      <div class="flex space-x-2">
        <a
          class="link"
          href="http://twitter.com/xsfunc"
          target="_blank"
          rel="noopener noreferrer">twitter</a
        >
        <a
          class="link"
          href="http://github.com/xsfunc"
          target="_blank"
          rel="noopener noreferrer">github</a
        >
      </div>
    </div>
  </div>
</article>
