---
import About from "shared/ui/About.astro";
import CategoryTitle from "shared/ui/CategoryTitle.astro";
import Layout from "shared/ui/Layout.astro";
import Tool from "shared/ui/Tool.astro";
---

<Layout title="Welcome | xsfunc">
  <About />

  <CategoryTitle title="NFTs" id="nft" />
  <Tool
    title="Pingos"
    link="https://objkt.com/profile/tz2G1mr6vbdn48tfP73KZcS6oBpDrUuXJFL3/created?faContracts=KT1RJ6PbjHpwc3M5rw5s2Nbmefwbuwbdxton"
    >Collection of Pingos.</Tool
  >
  <Tool title="Path" link="https://www.fxhash.xyz/generative/slug/path"
    >Generative art on fx(hash), has utility.</Tool
  >

  <CategoryTitle title="Tools" id="tools" />
  <Tool title="xshash.xyz" id="xshash" link="https://xshash.xyz">
    <p>Toolkit for minting and colleciting on fx(hash).</p>
  </Tool>
  <Tool title="objkt.xsfunc.xyz" id="objkt" link="https://objkt.xsfunc.xyz">
    <p>Allow you to collect items on objkt faster.</p>
  </Tool>
  <Tool title="henext.xyz" id="henext" link="https://henext.xyz">
    <p>Alternative UI for teia.art (HEN).</p>
  </Tool>
</Layout>
